@model IEnumerable<QLBH.Models.Monan>

@{
    ViewData["Title"] = "DanhMucSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh Mục Các Sản Phẩm</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenHh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGiaBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.MaLoaiNavigation)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenHh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anh)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.MaLoaiNavigation.MaLoai)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaMonAn">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaMonAn">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaMonAn">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
