@using QLBH.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Loaimonan>
@{
    ViewData["Title"] = "LoaiSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper * ,Microsoft.AspNetCore.Mvc.TagHelpers
<h1>LoaiSanPham</h1>

<p>
    <a asp-action="ThemLoaiSanPhamMoi">Create New</a>
</p>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">List Products</h6>
            <a href="">Show All</a>
        </div>
        <div class="table text-start align-middle table-bordered table-hover mb-0">
<table class="table">
    <thead>
        <tr class="text-white">
            <th>
                Mã loại món
            </th>
            <th>
                Tên loại món
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoai)
            </td>
            <td style="padding-left: 10%;">
                                <a class="btn btn-sm btn-primary" asp-action="SuaLoaiSanPham" asp-route-maSanPham="@item.MaLoai">Edit</a> |
@*                 <a asp-action="Details" asp-route-id="@item.MaLoai">Details</a> |*@
                                <a class="btn btn-sm btn-danger" asp-action="XoaLoaiSanPham" asp-route-maSanPham="@item.MaLoai">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
        </div>
    </div>
</div>

@Html.PagedListPager(Model, page => Url.Action("LoaiSanPham", new { page = page }), new PagedListRenderOptions
{
    ContainerDivClasses = new[] { "page-nav" },
    UlElementClasses = new[] { "page-nav-list" }, 
    LiElementClasses = new[] { "page-nav-item" }, 
})

@*  css cho phân trang *@
@section Styles {
    <style>
        /* Page Nav */
        .page-nav, .page-nav-list {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 10px;
            margin-top: 10px;
            list-style: none;
        }

        .page-nav-item a {
            display: inline-block;
            border: 2px solid #000;
            height: 30px;
            width: 30px;
            text-align: center;
            line-height: 27px;
            border-radius: 0;
            font-size: 15px;
            background-color: white;
        }

            .page-nav-item.active a, .page-nav-item a:hover {
                color: white;
                background-color: red;
            }
    </style>
}