@{
    ViewData["Title"] = "ChiTietMonAn";
    Layout = "~/Views/Shared/_LayoutOgani.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model QLBH.ViewModels.HomeProductDetailViewModel

<div class="modal product-detail open">
    <button class="modal-close">
        <i class="fa-thin fa-xmark"></i>
    </button>

    <div class="modal-container mdl-cnt" id="product-detail-content">
        <div class="modal-header">
            <img class="product-image" src="@Url.Content("~/assets/img/products/" + Model.monan.Anh)" alt="">
        </div>
        <div class="modal-body">
            <h2 class="product-title">@Model.monan.TenHh</h2>
            <div class="product-control">
                <div class="priceBox">
                    <span class="current-price" id="unit-price">@String.Format("{0:N3}", Model.monan.DonGiaBan)</span> 
                </div>
                <div class="buttons_added">
                    <input class="minus is-form" type="button" value="-" id="decreaseButton">
                    <input class="input-qty" id="quantity" max="100" min="1" type="number" value="1" name="quantity">
                    <input class="plus is-form" type="button" value="+" id="increaseButton">
                </div>
            </div>
            <p class="product-description"></p>
        </div>
        <div class="notebox">
            <p class="notebox-title">Ghi chú</p>
            <textarea class="text-note" id="popup-detail-note" placeholder="Nhập thông tin cần lưu ý..."></textarea>
        </div>
        <div class="modal-footer">
            <div class="price-total">
                <span class="thanhtien">Thành tiền</span>
                <span class="price" id="total-price">
                    @(Model.monan.DonGiaBan != null
                        ? String.Format("{0:N3}", Model.monan.DonGiaBan) + "đ"
                        : "0.0000đ")
                </span>
            </div>
            <div class="modal-footer-control">
                <button class="button-dathangngay" data-product="1" type="button">Đặt hàng ngay</button>
                <button class="button-dat add-to-cart" data-product_id="@Model.monan.MaMonAn" id="add-cart" type="button" onclick="animationCart()">
                    <i class="fa-light fa-basket-shopping"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    // Hiển thị lại danh sách món ăn
    $(document).ready(function () {
        $('.modal-close').click(function () {
            var previousListUrl = sessionStorage.getItem('previousListUrl');
            if (previousListUrl) {
                showProductsByCategory(previousListUrl); 
            } else {
                window.location.href = '@Url.Action("Index", "Home")'; 
            }
        });
    });


    $(document).ready(function () {
        const productId = '@Model.monan.MaMonAn';

        function updateTotalPrice() {
            const quantity = parseInt($('#quantity').val());

            $.ajax({
                url: '@Url.Action("GetTotalPrice", "Home")',
                type: 'GET',
                data: { productId: productId, quantity: quantity },
                success: function (data) {
                    $('#total-price').text(data.totalPrice);
                },
                error: function () {
                    console.log("Error occurred while updating total price.");
                }
            });
        }

        $('#decreaseButton').on('click', function () {
            const quantityInput = $('#quantity');
            if (quantityInput.val() > 1) {
                quantityInput.val(parseInt(quantityInput.val()) - 1);
                updateTotalPrice();
            }
        });

        $('#increaseButton').on('click', function () {
            const quantityInput = $('#quantity');
            if (quantityInput.val() < 100) {
                quantityInput.val(parseInt(quantityInput.val()) + 1);
                updateTotalPrice();
            }
        });

        $('#quantity').on('change', updateTotalPrice);
    });
</script>
@section Scripts {
    <style>
        /*chinh giao dien them gio hang*/
        .small-swal-popup {
            max-width: 300px; /* Điều chỉnh chiều rộng */
            font-size: 12px; /* Điều chỉnh cỡ chữ */
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            $('.add-to-cart').click(function () {
                var id = $(this).data("product_id");
                var quantity = $('#quantity').val(); // Lấy số lượng từ input

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ThemGioHang", "Home")",
                    data: { Id: id, quantity: quantity },
                    success: function (result) {
                        if (result) {
                            Swal.fire({
                                title: "Thêm giỏ hàng thành công!",
                                icon: "success",
                                customClass: {
                                    popup: 'small-swal-popup'  // Sử dụng class tùy chỉnh cho popup
                                },
                                confirmButtonText: "OK"
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    $('.modal-close.close-popup').click(); // Đóng modal khi thêm thành công
                                    // window.location.href = "@Url.Action("GioHang", "Home")";
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            const productId = '@Model.monan.MaMonAn';

            function updateTotalPrice() {
                const quantity = parseInt($('#quantity').val());

                $.ajax({
                    url: '@Url.Action("GetTotalPrice", "Home")',
                    type: 'GET',
                    data: { productId: productId, quantity: quantity },
                    success: function (data) {
                        $('#total-price').text(data.totalPrice);
                    },
                    error: function () {
                        console.log("Error occurred while updating total price.");
                    }
                });
            }

            $('#quantity').on('change', updateTotalPrice);
        });
    </script>
}


