@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutOgani.cshtml";

}
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Monan>
<div class="home-products" id="home-products">
@foreach(var item in Model)
{
    <div class="col-product">
        <article class="card-product">
            <div class="card-header">
                    <a asp-controller="Home" asp-action="Index" asp-route-maMonAn="@item.MaMonAn" asp-route-page="@ViewBag.CurrentPage" class="card-image-link">
                    <img class="card-image" src="@Url.Content("~/assets/img/products/" + item.Anh)" alt="Nấm đùi gà xào cháy tỏi">
                </a>
            </div>
            <div class="food-info">
                <div class="card-content">
                    <div class="card-title">
                            <a asp-controller="Home" asp-action="Index" asp-route-maMonAn="@item.MaMonAn" asp-route-page="@ViewBag.CurrentPage" class="card-title-link">@item.TenHh</a>@* class="card-title-link" onclick="detailProduct(1)" *@
                    </div>
                </div>
                <div class="card-footer">
                    <div class="product-price">
                            <span class="current-price">@item.DonGiaBan.Value.ToString("#,##0 đ")</span>
                    </div>
                    <div class="product-buy">
                            <button  class="card-button order-item"><i class="fa-regular fa-cart-shopping-fast"></i> Đặt món</button>
                    </div>
                </div>
            </div>
        </article>
    </div>

}
</div>

 @if (ViewBag.DetailProduct != null)
 {
    var detail = ViewBag.DetailProduct;
    <div class="modal product-detail open "id="product-detail-content">
        <button class="modal-close close-popup"><i class="fa-thin fa-xmark"></i></button>
        <div class="modal-container mdl-cnt" id="product-detail-content">
            <div class="modal-header">
                <img class="product-image" src="@Url.Content("~/assets/img/products/" + @detail.monan.Anh)" alt="">
            </div>
            <div class="modal-body">
                <h2 class="product-title">@detail.monan.TenHh</h2>
                <div class="product-control">
                    <div class="priceBox">
                    <span class="current-price" id="unit-price">@String.Format("{0:N0}", detail.monan.DonGiaBan) đ</span> <!-- Đơn giá -->
                    </div>
                    <div class="buttons_added">
                        <input class="minus is-form" type="button" value="-" id="decreaseButton">
                        <input class="input-qty" id="quantity" max="100" min="1" type="number" value="1" name="quantity">
                        <input class="plus is-form" type="button" value="+" id="increaseButton">
                    </div>
                </div>
                <p class="product-description"></p>
            </div>
            <div class="notebox">
                <p class="notebox-title">Ghi chú</p>
                <textarea class="text-note" id="popup-detail-note" placeholder="Nhập thông tin cần lưu ý..."></textarea>
            </div>
            <div class="modal-footer">
                <div class="price-total">
                    <span class="thanhtien">Thành tiền</span>
                <span class="price" id="total-price">
                    @(detail.monan.DonGiaBan != null
                        ? String.Format("{0:N0}", detail.monan.DonGiaBan) + "đ"
                        : "0.0000đ")
                </span>

            </div>
                <div class="modal-footer-control">
                    <a asp-controller="Home" asp-action="ThanhToan">
                        <button class="button-dathangngay" data-product="1" type="button">Đặt hàng ngay</button>
                    </a>
                        <button class="button-dat add-to-cart" data-product_id="@detail.monan.MaMonAn" id="add-cart " type="button" onclick="animationCart()">
                            <i class="fa-light fa-basket-shopping"></i>
                        </button>
                </div>
            </div>
        </div>
    </div>

    @* them vao gio hang *@
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
    <script>
        $(document).ready(function () {
            $('.add-to-cart').click(function () {
                var id = $(this).data("product_id");
                var quantity = $('#quantity').val(); 

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ThemGioHang", "Home")",
                    data: { Id: id, quantity: quantity },
                    success: function (result) {
                        if (result) {
                            updateCartCount();
                            $('.modal-close.close-popup').click(); 
                        }
                    }
                });
            });
        });
    </script>@* them gio hang *@
    <script>
        $(document).ready(function () {
            const productId = '@detail.monan.MaMonAn';

            function updateTotalPrice() {
                const quantity = parseInt($('#quantity').val());

                $.ajax({
                    url: '@Url.Action("GetTotalPrice", "Home")',
                    type: 'GET',
                    data: { productId: productId, quantity: quantity },
                    success: function (data) {
                        $('#total-price').text(data.totalPrice);
                    },
                    error: function () {
                        console.log("Error occurred while updating total price.");
                    }
                });
            }

            $('#decreaseButton').on('click', function () {
                const quantityInput = $('#quantity');
                if (quantityInput.val() > 1) {
                    quantityInput.val(parseInt(quantityInput.val()) - 1);
                    updateTotalPrice();
                }
            });

            $('#increaseButton').on('click', function () {
                const quantityInput = $('#quantity');
                if (quantityInput.val() < 100) {
                    quantityInput.val(parseInt(quantityInput.val()) + 1);
                    updateTotalPrice();
                }
            });

            $('#quantity').on('change', updateTotalPrice);
        });
    </script>
    <script>
        function updateCartCount() {
            $.ajax({
                url: '@Url.Action("GetCartCount", "Home")',
                method: 'GET',
                success: function (data) {
                    $('#cart-count').text(data.count); 
                }
            });
        }
        $(document).ready(function () {
            updateCartCount();
        });
    </script>
    } 
}
@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions
{
    ContainerDivClasses = new[] { "page-nav" }, 
    UlElementClasses = new[] { "page-nav-list" }, 
    LiElementClasses = new[] { "page-nav-item" }, 
})







