@{
    ViewData["Title"] = "ThanhToan";
    Layout = "~/Views/Shared/_LayoutOgani.cshtml";
}
@model IEnumerable<QLBH.Models.ProductModels.CartItem>
<div class="checkout-page active">
    <div class="checkout-header">
        <div class="checkout-return">
            <form action="@Url.Action("Index", "Home")" method="post">
                <button type="submit"><i class="fa-regular fa-chevron-left"></i></button>
            </form>
        </div>
        <h2 class="checkout-title">Thanh toán</h2>
    </div>
    <main class="checkout-section container">
        <div class="checkout-col-left">

            <div class="checkout-row">
                <div class="checkout-col-title">
                    Thông tin người nhận
                </div>
                <div class="checkout-col-content">
                    <div class="content-group">
                        <form action="" class="info-nhan-hang">
                            <div class="form-group">
                                <input id="tennguoinhan" name="tennguoinhan" type="text" placeholder="Tên người nhận" class="form-control">
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                                <input id="sdtnhan" name="sdtnhan" type="text" placeholder="Số điện thoại nhận hàng" class="form-control">
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                                <input id="diachinhan" name="diachinhan" type="text" placeholder="Địa chỉ nhận hàng" class="form-control chk-ship">
                                <span class="form-message"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="checkout-col-right">
            <p class="checkout-content-label">Đơn hàng</p>
        @foreach (var item in Model)
        {
            <div class="bill-total" id="list-order-checkout">
                <div class="food-total">
                        <div class="count">
                            <input class="input-qty quantity" id="total-price" max="100" min="1" type="number" value="@item.SoLuong" name="quantity">
                        </div>
                    <div class="info-food">
                        <div class="name-food">@item.TenHH</div>
                    </div>
                </div>
            </div>
            <div class="bill-payment">
                <div class="total-bill-order">
                    <div class="priceFlx">
                        <div class="text">
                            Tiền hàng
                        </div>
                        <div class="price-detail">
                            <span id="checkout-cart-total" total-price" data-cart_id="@item.Mahh">
                                @String.Format("{0:N0}", item.dongia * item.SoLuong) đ
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        }
            <div class="priceFlx chk-ship">
                <div class="text">Phí vận chuyển</div>
                <div class="price-detail chk-free-ship">
                    <span>Free Ship</span>
                </div>
            </div>
            <div class="policy-note">
                Bằng việc bấm vào nút “Đặt hàng”, tôi đồng ý với
                <a href="#" target="_blank">chính sách hoạt động</a>
                của chúng tôi.
            </div>
            <div class="total-checkout">
                <div class="text">Tổng tiền</div>
                <div class="price-bill">
                    <div class="price-final" id="checkout-cart-price-final">
                        @String.Format("{0:N0}", Model.Sum(x => x.dongia * x.SoLuong)) đ
                    </div>
                </div>
            </div>
            <a class="succsess">
                <button class="complete-checkout-btn">Đặt hàng</button>
            </a>
        </div>
    </main>
</div>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            $('.succsess').click(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Clear", "Home")",
                    success: function (result) {
                        if (result) {
                            Swal.fire({
                                title: "Chức năng đang bảo trì !",
                                icon: "success",
                                confirmButtonText: "OK"
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = "@Url.Action("Index", "Home")";
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>

    <script>
        function updateQuantity(productId, quantity) {
            $.ajax({
                url: '@Url.Action("UpdateQuantity", "Home")',
                type: 'POST',
                data: { productId: productId, quantity: quantity },
                success: function (response) {
                    if (response.success) {
                        updateTotalPrice(productId); 
                        updateCartTotal(); 
                    } else {
                        alert("Cập nhật không thành công.");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Có lỗi xảy ra khi cập nhật số lượng: ", error);
                }
            });
        }
        function updateTotalPrice(productId) {
            const quantity = parseInt($(`.cart-item[data-id="${productId}"]`).find('.quantity').val());
            $.ajax({
                url: '@Url.Action("GetTotalPrice", "Home")',
                type: 'GET',
                data: { productId: productId, quantity: quantity },
                success: function (data) {
                    $(`.cart-item[data-id="${productId}"] .total-price`).text(data.totalPrice.toLocaleString('vi-VN'));
                    updateCartTotal(); 
                },
                error: function () {
                    console.log("Error occurred while updating total price.");
                }
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            $('.add-to-cart').click(function () {
                var id = $(this).data("product_id");
                var quantity = $('#quantity').val(); /

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Index", "Home")",
                    data: { Id: id, quantity: quantity },
                    success: function (result) {
                        if (result) {
                            updateCartCount();
                            Swal.fire({
                                title: "Thêm giỏ hàng thành công!",
                                icon: "success",
                                customClass: {
                                    popup: 'small-swal-popup'
                                },
                                confirmButtonText: "OK"
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    $('.modal-close.close-popup').click();
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>@* them gio hang *@
}
